[submodule "thirdparty/thirdparty/luckfox_pico_rkmpi_example"]
	path = thirdparty/thirdparty/luckfox_pico_rkmpi_example
	url = https://github.com/LuckfoxTECH/luckfox_pico_rkmpi_example.git
[submodule "thirdparty/luckfox_pico_rkmpi_example"]
	path = thirdparty/luckfox_pico_rkmpi_example
	url = https://github.com/LuckfoxTECH/luckfox_pico_rkmpi_example.git
